.rounded-card {
  border-radius: 8px;
}
.p-accordion .p-accordion-tab {
  box-shadow: none !important;
}
.p-accordion .p-accordion-content {
  border: 1px solid var(--primary-color);
  border-top: none;
}
.p-accordion.accordtion .p-accordion-header .p-accordion-header-link {
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
  border-radius: 4px;
}
.p-accordion.accordtion .p-accordion-header {
  margin-top: 10px;
}
.form-btn {
  width: 100px;
  height: 40px;
}
